.container {
    width: 100%;
    height: 100%;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar {
    width: 21.5%;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
    box-shadow: 6px 0 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.mainContent {
    width: 78%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountImg {
    width: 120px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.tabs,
.tabsTop,
.tabsBottom {
    width: 100%;
}

.tabs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabsTop {
    margin-bottom: 30px;
}

.tabsBottom {
    margin-top: 30px;
}

.tabButton {
    width: 80%;
    margin-inline: 10%;
    margin-block: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    border: 4px solid #4fffe3;
    padding-inline: 10px;
    background: rgba(79, 255, 227, 0.1);
    transition: 0.5s;
}

.tabButton:hover {
    box-shadow: 2px 8px 16px 0 rgba(79, 255, 227, 0.175);
    cursor: pointer;
    width: 82%;
    margin-inline: 9%;
}

.buttonText {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 700;
    background: transparent;
}

.tabIcon {
    background: transparent;
}

.mainLeft,
.mainRight {
    flex: 1;
    padding: 30px;
    border: 1px solid gray;
}

.timeContainer {
    width: 52%;
    display: flex;
    flex-direction: column;
    border: 4px solid #4fffe3;
    border-radius: 25px;
    padding: 12px;
    margin: 5px;
}

.timeText {
    font-size: 55px;
    margin: 5px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.additionalInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.period,
.date {
    font-size: 20px;
    margin: 5px;
    font-weight: 400;
}